.catalog_container {
    .catalog_panel {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 990px) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 20px;
        }
        .call_filter {
            display: none;
            @media (max-width: 990px) {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 2px;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
                border: 1px solid #dadada;
                margin-top: 6px;
                padding: 5px 10px;
                box-sizing: border-box;
            }
        }
        .catalog_panel_title {
            font: 600 1.75rem 'Roboto', sans-serif;
            @media (max-width: 990px) {
                font: 600 1.25rem 'Roboto', sans-serif;
                margin-bottom: 0;
            }
        }
        .catalog_panel_wrap {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media (max-width: 990px) {
                display: none;
                height: 100%;
                opacity: 1;
                border-radius: 2px;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
                border: 1px solid #dadada;
                margin-top: 10px;
                width: 100%;
                box-sizing: border-box;
                padding: 5px 10px;
            }
            ul {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                @media (max-width: 990px) {
                    align-items: flex-start;
                    flex-direction: column;
                    justify-content: flex-start;
                }
                li {
                    margin: 0 5px;
                    position: relative;
                    @media (max-width: 990px) {
                        margin: 0 0 10px 0;
                        width: 100%;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                    }
                    &:hover {
                        .sub-menu {
                            opacity: 1;
                            pointer-events: auto;
                        }
                    }
                    svg {
                        display: none;
                        @media (max-width: 990px) {
                            display: block;
                            margin: 0 auto;
                            margin-right: 0;
                            position: relative;
                            top: 4px;
                        }
                    }
                    .close_catalog {
                        display: none;
                        @media (max-width: 990px) {
                            display: block!important;
                        }
                    }
                    a {
                        color: #333;
                        border-bottom: 3px solid transparent;
                        font: 400 1.125rem 'Roboto', sans-serif;
                        transition: .2s;
                        @media (max-width: 990px) {
                            font: 400 .95rem 'Roboto', sans-serif;
                        }
                        &:hover {
                            color: #f4a236;
                            border-color: #f4a236;
                        }
                    }
                    .sub-menu {
                        position: absolute;
                        top: 36px;
                        min-width: 150px;
                        opacity: 0;
                        z-index: 20;
                        background: #fff;
                        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .09);
                        border: 1px solid #e9e9e9;
                        text-align: left;
                        left: 0;
                        padding: 12px 24px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        pointer-events: none;
                        @media (max-width: 990px) {
                            grid-column-start: 1;
                            grid-column-end: 3;
                            position: relative;
                            opacity: 1;
                            pointer-events: auto;
                            min-width: auto;
                            top: auto;
                            width: 100%;
                            box-shadow: none;
                            display: none;
                            padding: 0;
                            border: none;
                            margin-top: 5px;
                        }
                        &::before {
                            content: '';
                            height: 20px;
                            background: transparent;
                            top: -20px;
                            position: absolute;
                            left: 0;
                            width: 100%;
                            @media (max-width: 990px) {
                                display: none;
                            }
                        }
                        li {
                            margin: 0 0 10px 0;
                            @media (max-width: 990px) {
                                margin: 0 0 5px 0;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            a {
                                font: 400 .95rem 'Roboto', sans-serif;
                                @media (max-width: 990px) {
                                    padding-left: 15px;
                                    width: 100%;
                                }
                            }
                            svg {
                                display: none;
                                @media (max-width: 990px) {
                                    display: flex;
                                    margin-right: 5px;
                                    position: absolute;
                                    top: 4.5px;
                                    left: 0;
                                }
                            }
                        }
                        li:last-child {
                            margin: 0;
                        }
                    }
                }
                li:nth-last-child(2) {
                    .sub-menu {
                        left: -160px!important;
                        @media (max-width: 990px) {
                            left: auto!important;
                        }
                    }
                }
                li:nth-last-child(1) {
                    .sub-menu {
                        left: -160px!important;
                        @media (max-width: 990px) {
                            left: auto!important;
                        }
                    }
                }
                li:last-child {
                    .sub-menu {
                        left: -160px!important;
                        @media (max-width: 990px) {
                            left: auto!important;
                        }
                    }
                }
            }
        }
    }
    .catalog_wrap {
        .catalog_title_box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            overflow: hidden;
            position: relative;
            @media (max-width: 990px) {
                margin-bottom: 15px;
            }
            &::before {
                @media (max-width: 990px) {
                    content: '';
                    height: 1px;
                    top: 15px;
                    width: 100%;
                    background: #f0f2f6;
                    display: block;
                    position: absolute;
                }
            }
            .catalog_title {
                display: flex;
                align-items: center;
                font: 500 1.5rem 'Roboto', sans-serif;
                white-space: nowrap;
                background: #fff;
                padding: 0 12px 0 0;
                position: relative;
                z-index: 9;
                @media (max-width: 990px) {
                    background: #fff;
                    padding: 0 10px;
                    z-index: 9;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    font: 500 1.125rem 'Roboto', sans-serif;
                }
                img {
                    margin-left: 5px;
                }
            }
            .catalog_arr {
                max-width: 100%;
                height: auto;
                width: 91%;
                margin: 0 5px;
                left: 0;
                position: absolute;
                object-fit: contain;
                @media (max-width: 1200px) {
                    width: 88%;
                }
                @media (max-width: 990px) {
                    display: none;
                }
            }
            .catalog_link {
                white-space: nowrap;
                color: #000;
                font: 400 1em 'Roboto', sans-serif;
                @media (max-width: 990px) {
                    display: none;
                }
            }
        }
    }
    .catalog_item_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 28px;
        margin-bottom: 40px;
        @media (max-width: 990px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
        .catalog_item {
            border-radius: 5px;
            overflow: hidden;
            transition: .3s;
            &:hover {
                background: #fff;
                box-shadow: 0 8px 15px 0 rgba(38, 43, 49, .3);
                cursor: pointer;
                transform: translateY(-6px);
                .catalog_item_info {
                    background: #fff;
                }
            }
            img {
                max-width: 100%;
                height: 190px;
                width: 100%;
                object-fit: cover;
                margin-bottom: -5px;
            }
            .catalog_item_info {
                background: #f0f2f6;
                padding: 20px 15px;
                .catalog_item_data {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                    p {
                        color: #7c7e82;
                        margin-right: 10px;
                        font: 400 .87rem 'Roboto', sans-serif;
                    }
                    svg {
                        margin: 0!important;
                    }
                }
                .item_title {
                    color: #000;
                    font: 500 1rem 'Roboto', sans-serif;
                }
            }
        }
    }
    .catalog_gap {
        grid-gap: 15px;
    }
}

.catalog_bottom {
    border-radius: 4px;
    background: #f0f2f6;
    margin: 25px 0 20px;
    padding: 20px 60px 35px 60px;
    @media (max-width: 990px) {
        padding: 0;
        nav-down: 0;
        margin-bottom: 95px;
        background: transparent;
    }
    .catalog_bottom_title {
        text-align: center;
        margin-bottom: 20px;
        font: 500 1.87rem 'Roboto', sans-serif;
        @media (max-width: 768px) {
            display: none;
        }
    }
    .catalog_bottom_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 28px;
        @media (max-width: 990px) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
        .catalog_bottom_box {
            @media (max-width: 768px) {
                padding: 20px;
                background: #f0f2f6;
                border-radius: 4px;
            }
            .bottom_box_title {
                margin-bottom: 10px;
                font: 500 1.125rem 'Roboto', sans-serif;
            }
            ul {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 10px;
                margin-bottom: 10px;
                li {
                    a {
                        font: 400 .8rem 'Roboto', sans-serif;
                        color: #000;
                        transition: .2s;
                        &:hover {
                            color: #616abc;
                        }
                    }
                }
            }
            .bottom_link {
                color: #545ca4;
                text-decoration: underline;
                font: 400 .87rem 'Roboto', sans-serif;
            }
        }
    }
}